/* Color Variables Declaration */
/* * {
  border: 1px solid black;
} */

:root {
  /* Primary */
  --clr-mar-b: hsl(213, 96%, 18%);
  --clr-purp-b: hsl(243, 100%, 62%);
  --clr-past-b: hsl(228, 100%, 84%);
  --clr-light-b: hsl(206, 94%, 87%);
  --clr-straw-red: hsl(354, 84%, 57%);

  /* Neutral */
  --clr-cool-g: hsl(231, 11%, 63%);
  --clr-light-g: hsl(229, 24%, 87%);
  --clr-magno: hsl(217, 100%, 97%);
  --clr-alabas: hsl(231, 100%, 99%);
  --clr-white: hsl(0, 0%, 100%);

}

body {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Ubuntu", serif;
  margin: 0;
  background-color: var(--clr-light-g);
  overflow-y: hidden;
  width: 100%;
  height: 100vh;
}

.sidebar {
  height: 150px;
  /* position: fixed;
  top: 0;
  left: 0; */
  background-image: url(assets/images/bg-sidebar-mobile.svg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: -1;
}

.sidebar > button {
  border-radius: 50%;
  background-color: var(--clr-purp-b);
  border: 1px solid var(--clr-white);
  height: 30px;
  width: 30px;
  color: var(--clr-white);
  font-weight: 600;
}

.hidden {
  display: none;
}

section {
  /* position: fixed; */
  /* top: 150px; */

}

.info-form {
  position: relative;
  top: -50px;
  width: 80%;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: var(--clr-white);

  h1 {
    color: var(--clr-mar-b);
  }

  p {
    color: var(--clr-cool-g);

  } 

  label {
    color: var(--clr-mar-b);
    font-weight: 600;
  }

}

#personal-info  {
  input[type="text"], input[type="tel"], input[type="email"] {
    display: block;
    padding: 0.5rem 1em;
    border: 1px solid var(--clr-cool-g);
    margin-top: 0.5rem;
    margin-bottom: 20px;
    border-radius: 5px;
  }


}

#plan {
  

  label {
    color: var(--clr-mar-b);
    margin: 10px;
    border-radius: 5px;
    /* border: 1px solid var(--clr-cool-g); */

  }

}

.plan {
  display: flex;
  padding: 0.5rem;

  svg {
    margin-right: 0.5rem;
  }

  div {
    display: flex;
    flex-direction: column;

    span {
      margin-bottom: 0.5rem;
    } 

  }
}

input[type="radio"] {
  /* height: 0;
  width: 0; */
}

.plan:has(input:checked) {
  border: 1px solid var(--clr-purp-b);
}

.duration-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#add-ons {
  label {
    display: flex;
  }

  
}

input[type="checkbox"] + label {
  border: 2px solid black;
}

input[type="checkbox"]:hover + label {
  background-color: blueviolet;
  border: 2px solid var(--clr-purp-b);
}

input[type="checkbox"]:checked + label {
  border: 2px solid var(--clr-purp-b);
}

.add-ons {

  align-items: center;
  font-size: 14px;
  border: 1px solid var(--clr-cool-g);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 0.5rem;

  input {
    margin-right: 0.5rem;
  }

  

  div {
    display: flex;
    flex-direction: column;

    span {

    } 
  }

  span {
    margin-right: 1.5rem;
  }


}



#back-2,
#back-3,
#back-4 {
  position: fixed;
  left: 20px;
  bottom: 30px;
  color: var(--clr-cool-g);

}

/* styling for Next step buttons at the right  */
#next-1,
#next-2,
#next-3,
#confirm {
  position: fixed;
  right: 20px;
  bottom: 30px;
  color: var(--clr-white);
  background-color: var(--clr-mar-b);
  padding: 1em;
  border-radius: 5px;
  border: none;
}

.duration-btn {
  position: relative;
  text-align: center;
  margin: 0 auto;
}

/* Toggle button */
.switch {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  width: 37px;
  height: 21px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-mar-b);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--clr-mar-b);
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.attribution {
  position: absolute;
  bottom: 0;
  font-size: 11px;
  text-align: center;
  width: 100%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}